.container{
    display: flex;
    justify-content: center;
    
}

table{
    border-collapse: collapse;
    border: 2px solid grey;
    letter-spacing: 2px;
    font-size: 1.5em;
    background-color: whitesmoke;

}

th{
    text-align: left;
    border: 1px solid grey;
    padding: 10px;
    background-color: darkgrey;
}

td{
    
    border: 1px solid grey;
    padding: 10px;
    
}

h2{
    margin: 0;
    padding: 20px;
}

tr:hover{
    background-color: grey;
}